---
http_interactions:
- request:
    method: get
    uri: https://api.legiscan.com/?id=1722281&key=LEGISCAN_KEY&op=getBill
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ffb8d1b37d79de2130db144ef5e0f7fee1babd27
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","bill":{"bill_id":1722281,"change_hash":"73e878a754d83207af9d1b7253ac953a","session_id":1987,"session":{"session_id":1987,"state_id":9,"year_start":2023,"year_end":2023,"prefile":0,"sine_die":0,"prior":0,"special":0,"session_tag":"Regular
        Session","session_title":"2023 Regular Session","session_name":"2023 Regular
        Session"},"url":"https:\/\/legiscan.com\/FL\/bill\/H1255\/2023","state_link":"https:\/\/www.flsenate.gov\/Session\/Bill\/2023\/1255","completed":1,"status":4,"status_date":"2023-07-07","progress":[{"date":"2023-02-28","event":1},{"date":"2023-03-06","event":9},{"date":"2023-03-06","event":9},{"date":"2023-03-06","event":9},{"date":"2023-04-27","event":2},{"date":"2023-04-27","event":9},{"date":"2023-05-04","event":2},{"date":"2023-05-04","event":3},{"date":"2023-06-21","event":4},{"date":"2023-07-07","event":8}],"state":"FL","state_id":9,"bill_number":"H1255","bill_type":"B","bill_type_id":"1","body":"H","body_id":27,"current_body":"H","current_body_id":27,"title":"West
        Orange Healthcare District, Orange County","description":"Abolishes district,
        transfers assets & liabilities of district; requires certain books to be deposited
        into Winter Garden Heritage Museum; provides effective date.","pending_committee_id":0,"committee":[],"referrals":[{"date":"2023-03-06","committee_id":4615,"chamber":"H","chamber_id":27,"name":"Local
        Administration, Federal Affairs & Special Districts Subcommittee"},{"date":"2023-03-15","committee_id":2415,"chamber":"H","chamber_id":27,"name":"Health
        And Human Services"},{"date":"2023-03-24","committee_id":2427,"chamber":"H","chamber_id":27,"name":"State
        Affairs"}],"history":[{"date":"2023-02-28","action":"Filed","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-03-06","action":"Referred
        to Local Administration, Federal Affairs & Special Districts Subcommittee","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-03-06","action":"Referred
        to Health & Human Services Committee","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-03-06","action":"Referred
        to State Affairs Committee","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-03-06","action":"Now
        in Local Administration, Federa[...]
[...]
