---
http_interactions:
- request:
    method: get
    uri: https://api.legiscan.com/?id=1710836&key=LEGISCAN_KEY&op=getBill
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ffb8d1b37d79de2130db144ef5e0f7fee1babd27
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","bill":{"bill_id":1710836,"change_hash":"30b0c88e01eaeb136eb1ca91543247cc","session_id":1987,"session":{"session_id":1987,"state_id":9,"year_start":2023,"year_end":2023,"prefile":0,"sine_die":0,"prior":0,"special":0,"session_tag":"Regular
        Session","session_title":"2023 Regular Session","session_name":"2023 Regular
        Session"},"url":"https:\/\/legiscan.com\/FL\/bill\/H0899\/2023","state_link":"https:\/\/www.flsenate.gov\/Session\/Bill\/2023\/899","completed":1,"status":6,"status_date":"2023-05-05","progress":[{"date":"2023-02-16","event":1},{"date":"2023-02-28","event":9},{"date":"2023-02-28","event":9},{"date":"2023-03-21","event":9},{"date":"2023-03-31","event":2},{"date":"2023-03-31","event":9},{"date":"2023-05-05","event":6}],"state":"FL","state_id":9,"bill_number":"H0899","bill_type":"B","bill_type_id":"1","body":"H","body_id":27,"current_body":"S","current_body_id":28,"title":"Surrendered
        Newborn Infants","description":"Authorizes hospitals, emergency medical services
        stations, & fire stations to use newborn infant safety devices to accept surrendered
        newborn infants if device meets specified criteria; requires hospitals, emergency
        medical services stations, or fire stations to physically check & test devices
        at specified intervals; authorizes parent to leave newborn infant with medical
        staff or licensed healthcare professional at hospital after delivery of newborn
        infant; authorizes parent to surrender newborn infant by calling 911 & requesting
        EMS provider to meet at specified location to retrieve newborn infant.","pending_committee_id":0,"committee":[],"referrals":[{"date":"2023-02-28","committee_id":4608,"chamber":"H","chamber_id":27,"name":"Healthcare
        Regulation Subcommittee"},{"date":"2023-03-09","committee_id":2415,"chamber":"H","chamber_id":27,"name":"Health
        And Human Services"}],"history":[{"date":"2023-02-16","action":"Filed","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-02-28","action":"Referred
        to Healthcare Regulation Subcommittee","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-02-28","action":"Referred
        to Health & Human Services Committee","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-02-28","action":"Now
        in Healthcare Regulation Subcommittee","chamber":"H","chamber_id":27,"importance":0},{"date":"2023-03-07","action":"Added
        to Healthcare Regulation Subcommittee agenda","chamber":"H"[...]
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Health%20%26%20Human%20Services%20Committee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":0}}'
  recorded_at: Mon, 31 Jul 2023 00:45:28 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Jennifer%20Canady
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ocd-person/7fb5a540-2c3c-4661-8495-2e0e02ab8644","name":"Jennifer
        Canady","party":"Republican","current_role":{"title":"Representative","org_classification":"lower","district":"50","division_id":"ocd-division/country:us/state:fl/sldl:50"},"jurisdiction":{"id":"ocd-jurisdiction/country:us/state:fl/government","name":"Florida","classification":"state"},"given_name":"Jennifer","family_name":"Canady","image":"https://myfloridahouse.gov//FileStores/Web/Imaging/Member/4879.jpg","email":"","gender":"","birth_date":"","death_date":"","extras":{},"created_at":"2023-02-14T01:13:57.116837+00:00","updated_at":"2023-05-01T19:54:48.917262+00:00","openstates_url":"https://openstates.org/person/jennifer-canady-3sz2L8gvycIhl1HVGOEVtc/","other_names":[]}],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":1}}'
  recorded_at: Mon, 31 Jul 2023 00:45:28 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Mike%20Beltran
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ocd-person/4f45bda8-a133-43a3-aa11-6c80833a7521","name":"Mike
        Beltran","party":"Republican","current_role":{"title":"Representative","org_classification":"lower","district":"70","division_id":"ocd-division/country:us/state:fl/sldl:70"},"jurisdiction":{"id":"ocd-jurisdiction/country:us/state:fl/government","name":"Florida","classification":"state"},"given_name":"Mike","family_name":"Beltran","image":"https://myfloridahouse.gov//FileStores/Web/Imaging/Member/4747.jpg","email":"","gender":"","birth_date":"","death_date":"","extras":{},"created_at":"2023-02-14T01:15:33.095397+00:00","updated_at":"2023-05-01T19:54:46.114829+00:00","openstates_url":"https://openstates.org/person/mike-beltran-2PaGSY2yjJSsYyKXK8VEht/","other_names":[]}],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":1}}'
  recorded_at: Mon, 31 Jul 2023 00:45:29 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Jessica%20Baker
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ocd-person/8dd703e2-8024-47c5-a22b-87a36db841cb","name":"Jessica
        Baker","party":"Republican","current_role":{"title":"Representative","org_classification":"lower","district":"17","division_id":"ocd-division/country:us/state:fl/sldl:17"},"jurisdiction":{"id":"ocd-jurisdiction/country:us/state:fl/government","name":"Florida","classification":"state"},"given_name":"Jessica","family_name":"Baker","image":"https://myfloridahouse.gov//FileStores/Web/Imaging/Member/4866.jpg","email":"","gender":"","birth_date":"","death_date":"","extras":{},"created_at":"2023-02-14T01:13:22.849387+00:00","updated_at":"2023-05-01T19:54:50.459065+00:00","openstates_url":"https://openstates.org/person/jessica-baker-4JeBB82DwwFJim6zIYE7zv/","other_names":[]}],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":1}}'
  recorded_at: Mon, 31 Jul 2023 00:45:30 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Robin%20Bartleman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ocd-person/67c201cf-9aaa-4a06-8dda-28e93ea27f6b","name":"Robin
        Bartleman","party":"Democratic","current_role":{"title":"Representative","org_classification":"lower","district":"103","division_id":"ocd-division/country:us/state:fl/sldl:103"},"jurisdiction":{"id":"ocd-jurisdiction/country:us/state:fl/government","name":"Florida","classification":"state"},"given_name":"Robin","family_name":"Bartleman","image":"https://myfloridahouse.gov//FileStores/Web/Imaging/Member/4793.jpg","email":"robin.bartleman@myfloridahouse.gov","gender":"Female","birth_date":"","death_date":"","extras":{},"created_at":"2021-01-13T00:05:11.413706+00:00","updated_at":"2023-05-01T19:54:52.468683+00:00","openstates_url":"https://openstates.org/person/robin-bartleman-39ms0jsngLysXHzesgWDSF/","other_names":[]}],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":1}}'
  recorded_at: Mon, 31 Jul 2023 00:45:32 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Kimberly%20Berfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ocd-person/d6c0ddf5-2821-4510-83d1-da9eb422739a","name":"Kimberly
        Berfield","party":"Republican","current_role":{"title":"Representative","org_classification":"lower","district":"58","division_id":"ocd-division/country:us/state:fl/sldl:58"},"jurisdiction":{"id":"ocd-jurisdiction/country:us/state:fl/government","name":"Florida","classification":"state"},"given_name":"Kimberly","family_name":"Berfield","image":"https://myfloridahouse.gov//FileStores/Web/Imaging/Member/4210.jpg","email":"","gender":"","birth_date":"","death_date":"","extras":{},"created_at":"2023-02-14T01:13:47.351913+00:00","updated_at":"2023-05-01T19:54:51.535259+00:00","openstates_url":"https://openstates.org/person/kimberly-berfield-6XEUu2j5uEd4APk0lyakPK/","other_names":[]}],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":1}}'
  recorded_at: Mon, 31 Jul 2023 00:45:32 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Linda%20Chaney
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ocd-person/7d59a4fe-d0f1-43a8-93b4-bcd3b7fe5b4e","name":"Linda
        Chaney","party":"Republican","current_role":{"title":"Representative","org_classification":"lower","district":"61","division_id":"ocd-division/country:us/state:fl/sldl:61"},"jurisdiction":{"id":"ocd-jurisdiction/country:us/state:fl/government","name":"Florida","classification":"state"},"given_name":"Linda","family_name":"Chaney","image":"https://myfloridahouse.gov//FileStores/Web/Imaging/Member/4778.jpg","email":"","gender":"","birth_date":"","death_date":"","extras":{},"created_at":"2023-02-14T01:15:12.144584+00:00","updated_at":"2023-05-01T19:54:46.434999+00:00","openstates_url":"https://openstates.org/person/linda-chaney-3oX0Wn1UpOg0vhCgdIQJji/","other_names":[]}],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":1}}'
  recorded_at: Mon, 31 Jul 2023 00:45:32 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Tommy%20Gregory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ocd-person/ee14a4ef-f1ef-4fe5-a8a8-2158759b3e7c","name":"Tommy
        Gregory","party":"Republican","current_role":{"title":"Representative","org_classification":"lower","district":"72","division_id":"ocd-division/country:us/state:fl/sldl:72"},"jurisdiction":{"id":"ocd-jurisdiction/country:us/state:fl/government","name":"Florida","classification":"state"},"given_name":"Tommy","family_name":"Gregory","image":"https://myfloridahouse.gov//FileStores/Web/Imaging/Member/4732.jpg","email":"","gender":"Male","birth_date":"","death_date":"","extras":{},"created_at":"2019-01-24T06:05:15.981745+00:00","updated_at":"2023-05-01T19:54:52.901675+00:00","openstates_url":"https://openstates.org/person/tommy-gregory-7FFbiG4CPhJRXMZKSK4Jno/","other_names":[]}],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":1}}'
  recorded_at: Mon, 31 Jul 2023 00:45:32 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Christine%20Hunschofsky
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"ocd-person/89d7d4d0-82e7-4535-bb79-3260a7b432b5","name":"Christine
        Hunschofsky","party":"Democratic","current_role":{"title":"Representative","org_classification":"lower","district":"95","division_id":"ocd-division/country:us/state:fl/sldl:95"},"jurisdiction":{"id":"ocd-jurisdiction/country:us/state:fl/government","name":"Florida","classification":"state"},"given_name":"Christine","family_name":"Hunschofsky","image":"https://myfloridahouse.gov//FileStores/Web/Imaging/Member/4799.jpg","email":"","gender":"Female","birth_date":"","death_date":"","extras":{},"created_at":"2021-01-13T00:05:09.404569+00:00","updated_at":"2023-05-01T19:54:54.331398+00:00","openstates_url":"https://openstates.org/person/christine-hunschofsky-4C6aComS9727KodZKtQwh3/","other_names":[]}],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":1}}'
  recorded_at: Mon, 31 Jul 2023 00:45:33 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Toby%20Overdorf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[],"pagination":{"per_page":10,"page":1,"max_page":1,"total_items":0}}'
  recorded_at: Mon, 31 Jul 2023 00:45:33 GMT
- request:
    method: get
    uri: https://v3.openstates.org/people?include=other_names&jurisdiction=Florida&name=Rick%20Roth
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - STATES_KEY
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"detail":"exceeded limit of 10/min: 11"}'
  recorded_at: Mon, 31 Jul 2023 00:45:33 GMT
recorded_with: VCR 6.2.0
