---
http_interactions:
- request:
    method: get
    uri: https://api.legiscan.com/?id=1710836&key=LEGISCAN_KEY&op=getBill
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Mon, 31 Jul 2023 22:04:37 GMT
=======
      - Tue, 01 Aug 2023 02:17:40 GMT
>>>>>>> 5eb0b128c41720a9403dbe0a5d54adba3c7cd70c
      Content-Type:
      - application/json
      Transfer-Encoding:
      - chunked
      Connection:
      - keep-alive
      Vary:
      - Accept-Encoding
      Authorization:
      - Token ffb8d1b37d79de2130db144ef5e0f7fee1babd27
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Allow-Headers:
      - Origin, X-Requested-With, Content-Type, Accept
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","bill":{"bill_id":1710836,"change_hash":"30b0c88e01eaeb136eb1ca91543247cc","session_id":1987,"session":{"session_id":1987,"state_id":9,"year_start":2023,"year_end":2023,"prefile":0,"sine_die":0,"prior":0,"special":0,"session_tag":"Regular
        Session","session_title":"2023 Regular Session","session_name":"2023 Regular
        Session"},"url":"https:\/\/legiscan.com\/FL\/bill\/H0899\/2023","state_link":"https:\/\/www.flsenate.gov\/Session\/Bill\/2023\/899","completed":1,"status":6,"status_date":"2023-05-05","progress":[{"date":"2023-02-16","event":1},{"date":"2023-02-28","event":9},{"date":"2023-02-28","event":9},{"date":"2023-03-21","event":9},{"date":"2023-03-31","event":2},{"date":"2023-03-31","event":9},{"date":"2023-05-05","event":6}],"state":"FL","state_id":9,"bill_number":"H0899","bill_type":"B","bill_type_id":"1","body":"H","body_id":27,"current_body":"S","current_body_id":28,"title":"Surrendered
        Newborn Infants","description":"Authorizes hospitals, emergency medical services
        stations, & fire stations to use newborn infant safety devices to accept surrendered
        newborn infants if device meets specified criteria; requires hospitals, emergency
        medical services stations, or fire stations to physically check & test devices
        at specified intervals; authorizes parent to leave newborn infant with medical
        staff or licensed healthcare professional at hospital after delivery of newborn
        infant; authorizes parent to surrender newborn infant by calling 911 & requesting
        EMS provider to meet at specified location to retrieve newborn infant.","pending_committee_id":0,"committee":[],"referrals":[{"date":"2023-02-28","committee_id":4608,"chamber":"H","chamber_id":27,"name":"Healthcare
        Regulation Subcommittee"},{"date":"2023-03-09","committee_id":2415,"chamber":"H","chamber_id":27,"name":"Health
        And Human Services"}],"history":[{"date":"2023-02-16","action":"Filed","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-02-28","action":"Referred
        to Healthcare Regulation Subcommittee","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-02-28","action":"Referred
        to Health & Human Services Committee","chamber":"H","chamber_id":27,"importance":1},{"date":"2023-02-28","action":"Now
        in Healthcare Regulation Subcommittee","chamber":"H","chamber_id":27,"importance":0},{"date":"2023-03-07","action":"Added
        to Healthcare Regulation Subcommittee agenda","chamber":"H"[...]
