---
http_interactions:
- request:
    method: get
    uri: https://api.legiscan.com/?key=LEGISCAN_KEY&op=getSearch&query=healthcare&state=FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token ffb8d1b37d79de2130db144ef5e0f7fee1babd27
    body:
      encoding: ASCII-8BIT
      string: '{"status":"OK","searchresult":{"summary":{"page":"1 of 2","range":"1
        - 50","relevancy":"100% - 83%","count":60,"page_current":1,"page_total":2,"query":"(Zhealthcar:(pos=1))"},"0":{"relevance":100,"state":"FL","bill_number":"H1255","bill_id":1722281,"change_hash":"73e878a754d83207af9d1b7253ac953a","url":"https:\/\/legiscan.com\/FL\/bill\/H1255\/2023","text_url":"https:\/\/legiscan.com\/FL\/text\/H1255\/2023","research_url":"https:\/\/legiscan.com\/FL\/research\/H1255\/2023","last_action_date":"2023-07-07","last_action":"Chapter
        No. 2023-340","title":"West Orange Healthcare District, Orange County"},"1":{"relevance":97,"state":"FL","bill_number":"H1413","bill_id":1726459,"change_hash":"5d228bad53db6bb2e34d4b1c4214b3d4","url":"https:\/\/legiscan.com\/FL\/bill\/H1413\/2023","text_url":"https:\/\/legiscan.com\/FL\/text\/H1413\/2023","research_url":"https:\/\/legiscan.com\/FL\/research\/H1413\/2023","last_action_date":"2023-05-05","last_action":"Died
        on Second Reading Calendar","title":"Health Care Expenses"},"2":{"relevance":96,"state":[...]
